RACK_ENV=production
APP_NAME=ads

RABBITMQ_HOST=XXXXXX
RABBITMQ_USER=ads
RABBITMQ_PASSWORD=XXXXXX
RABBIT_MQ_CONSUMER_POOL=5

PG_USER=ads
PG_PASSWORD=XXXXXXX
DATABASE_HOST=XXXXXX

GEOCODER_SECRET=XXXXXXX
GEOCODE_METHOD=async_publish_to_queue

AUTH_METHOD=sync_http

LOG_LEVEL=info
