RACK_ENV=production

RABBITMQ_HOST=XXXXXX
RABBITMQ_USER=ads
RABBITMQ_PASSWORD=XXXXXX
RABBIT_MQ_CONSUMER_POOL=5

PG_USER=ads
PG_PASSWORD=XXXXXX
DATABASE_HOST=XXXXXX

DOCKER_USER=XXXXXXX
DOCKER_PASSWORD=XXXXXXX

APP_SECRET=XXXXXX
